* {
  --background: #121214;
  --button: #8257E5;

  --logo-text: #996DFF;
  --head-text: #FFFFFF;
  --loading-text: #7C7C8A;

  --input: #202024;

  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background);
  overflow: hidden;
}

#app {
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

/* LOGO */

.logo {
  color: var(--logo-text);
  margin-bottom: 34px;
}

.logo > img {
  margin-left: 75px;
  margin-bottom: -25px;
}

/* === APP === */

/* FORM */

form {
  display: flex;
}

input {
  background-color: var(--input);
  border: 0;
  border-radius: 5px;

  width: 452px;
  height: 48px;

  box-sizing: border-box;
  padding: 12px;

  color: var(--head-text);
}

form > input:focus {
  outline: 2px solid var(--button);
}

form > button {
  background-color: var(--button);
  border-radius: 5px;

  width: 48px;
  height: 48px;

  border: 0;

  box-sizing: border-box;
  padding: 12px;

  margin-left: 12px;

  cursor: pointer;

  transition: 400ms;
}

form > button:hover {
  background-color: #633BBC;
}

/* RESULTADO */

.result > h3 {
  color: var(--head-text);
}

.result > .loading {
  color: var(--loading-text);
  user-select: none;
}

.result {
  margin-top: 32px;
  margin-right: 225px;

  text-align: justify;
}

/* RESPONSIVITY */

@media (max-width: 530px){
  input {
    width: 290px;
    height: 48px;
  }

  .result{
    margin: 0;
    margin-right: 62px;
    margin-top: 24px;
  }
}

@media (max-width: 360px){
  input {
    width: 240px;
    height: 48px;
  }

  .result{
    margin: 0;
    margin-top: 24px;
    margin-right: 12px;
  }
}